<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>List of students</h1>
<div th:each="student : ${actualStudents}">
    <a th:with="id=${student.id}" th:href="@{${'/students/' + id}}" th:text="${student.firstName}">Order ID</a>
    <a th:text="${student.surName}">Title ...</a>
    <a th:text="${student.age}">Text ...</a>
</div>
<div id="container" class="clear">
    <nav>
        <ul>
            <button onclick="location.href = 'http://localhost:8080/doRejuvenation';" id="myButton" class="float-left submit-button" > Change Age</button>
        </ul>
    </nav>
</div>
</body>
</html>