<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1>Student Details</h1>
        </div>
    </header>
</div>
<body>
<div class="wrapper row2">
    <div id="container" class="clear">
        <nav>
            <ul>
                <li>firstName: <a th:text="${student.firstName}"></a></li>
                <li>surName: <a th:text="${student.surName}"></a></li>
                <li>age: <a th:text="${student.age}"></a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="wrapper row3">
    <form action="#" th:action="@{/updateName/} + ${student.id}" th:object="${student}" method="post">
        <p>Give the new fist name <input type="text" th:field="*{firstName}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>